# Python
*.py[cod]
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info/
dist/
build/
*.tar.gz
**/__pycache__/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Development
**/node_modules
.env
.idea/
*.sqlite3
*.swp
*~
*.bak
*.bak.*
*.bak_*
*.bak-*
*.bak~
*.bak.*~
*.bak_*~
*.bak-*~
*.bak~*
*.bak.*~*
*.bak_*~*
*.bak-*~*
*.bak~*.*
*.bak.*~*.*
*.bak_*~*.*
*.bak-*~*.*
*.bak~*.*.*
*.bak.*~*.*.*
*.bak_*~*.*.*
*.bak-*~*.*.*
*.bak~*.*.*.*
*.bak.*~*.*.*.*